html, body {
    margin: 0;
    padding: 0;
    height: 100% !important;
    background: url(../image/login/login_bg.jpg);
}

.container {
    height: 100%;

}
.login_container {
    background: white;
    height: 100%;
    text-align: center;
}
.page{
    margin:50% 10%;
    width: 80%;
}
.login_icon{
    background: white;
}
.login_form{
    text-align: center;
}
.myIcon{
    color: #1E9FFF;
    font-size: 1.5rem;
}
.login_btn{
    margin-top: 5px;
    display: inline-block;
    width: 70%;
}
.item{
    display: inline-block;
    padding: 0 5px;
    border-bottom: 1px #2F4056 solid;
    width: 70%;
}
.item div{
    display: inline-block;
}
.my-input{
    height: 38px;
    line-height: 1.1;
    border-width: 0px;
    margin-left: 5px;
    font-size: 1.3rem;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 2px;
}
.login_msg{
    text-align: right;
    padding-right: 15%;
    color: red;
}