<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <script src="../static/js/plugins/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/layui/layui.js"></script>

</head>
<body>
<div class="container layui-row">
    <div class="layui-col-xs12 layui-col-md3 layui-col-lg-offset9 login_container">
        <div class="layui-col-xs12 layui-col-md12 page">
            <div class="login_icon">
                <img src="../static/image/login/login_icon.jpg" alt="">
            </div>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">用户登录</li>
                    <li>临时登录</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="login_form">
                            <div class="item">
                                <i class="layui-icon layui-icon-user myIcon"></i>
                                <input class="my-input" id="username"
                                       type="text" placeholder="请输入账号"/>
                            </div>
                            <div class="item">
                                <i class="layui-icon layui-icon-password myIcon"></i>
                                <input class="my-input" id="password"
                                       type="password" placeholder="请输入密码"/>
                            </div>
                            <p class="login_msg" id="msg"></p>
                            <button id="login_btn"
                                    class="layui-btn layui-btn-normal login_btn">
                                登录
                            </button>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="login_form">
                            <button id="login_temp_btn"
                                    class="layui-btn layui-btn-normal login_btn">
                                登录
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    layui.use(['element', 'jquery'], function () {
        var element = layui.element;
        var $ = layui.jquery;
        // 正常登录
        $('#login_btn').on('click', function () {
            var username = $('#username').val();
            var password = $('#password').val();
            var flag = false;
            var user = {};
            if (username != "" && password != "") {
                user = {
                    "userName": username,
                    "password": password
                }
                flag = true;
            }else {
                $("#msg").text("账号密码不能为空");
            }
            if (flag) {
                console.log(JSON.stringify(user));
                new Promise((resolve, reject) => {
                    $.ajax({
                        url: '/user/login',
                        data: JSON.stringify(user),
                        dataType: 'JSON',
                        contentType: "application/json",
                        method: 'POST',
                        success: function (data) {
                            if (data.result.code == 200) {
                                resolve(data.result);
                            } else {
                                reject(data.result);
                            }
                        },
                    })
                }).then((result) => {
                    // 登录成功
                    $('#msg').text(result.message);
                    // 页面跳转
                    var pathname = window.location.pathname;
                    var index = window.location.href.indexOf(pathname);
                    var path = window.location.href.substring(0, index)
                    window.location.replace(path + "/article");
                }).catch((result) => {
                    // 登录失败
                    $("#msg").text(result.message);
                });
            }
        })
        // 临时登录
        $('#login_temp_btn').on('click', function () {

            $.ajax({
                url:"/user/login",
                method: "GET",
                success:function () {
                    var pathname = window.location.pathname;
                    var index = window.location.href.indexOf(pathname);
                    var path = window.location.href.substring(0, index)
                    window.location.replace(path + "/article");
                }
            })
        })
    });
</script>
</html>
