<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <footer class="grid-footer">
            <div class="footer-fixed">
                <div class="copyright">
                    <div class="info">
                        <p class="mt05">
                            <Copyright></Copyright> &copy; 2010-2021 一个博客而已 All Rights Reserved V.X.X.X Power by nice
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </nav>
</div>
</body>