<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <header class="gird-header">
            <div class="header-fixed">
                <div class="header-inner">
                    <a href="javascript:void(0)" class="header-logo" id="logo">Mr.Yang</a>
                    <nav class="nav" id="nav">
                        <ul>
                            <li><a href="/index.html">首页</a></li>
                            <li><a href="/article">博客</a></li>

                            <li><a href="/publish">发布</a></li>
                            <li>
                                <a href="/user/out"
                                   th:if="${session.get('user')}">
                                    退出登录
                                </a>
                                <a href="/login.html"
                                   th:if="!${session.get('user')}">
                                    登录
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a class="phone-menu">
                        <i></i>
                        <i></i>
                        <i></i>
                    </a>
                </div>
            </div>
        </header>
    </nav>
</div>
</body>